{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container">
		<form method="post" style="margin-top:150px" class="field">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			{% if app.user %}
				<div class="mb-3">
					Vous êtes connecté en tant que
					{{ app.user.userIdentifier }},Veuillez activer votre compte ou
					<a href="{{ path('app_logout') }}">
					vous déconnectez</a>
				</div>
			{% endif %}
			<div class="container p-6">
				<div class="field" style="">
					<p class="control has-icons-left has-icons-right">
						<input class="input" type="email" placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
						<span class="icon is-small is-left">
							<i class="fas fa-envelope"></i>
						</span>
						<span class="icon is-small is-right">
							<i class="fas fa-check"></i>
						</span>
					</p>
				</div>

				<div class="field" style="">
					<p class="control has-icons-left">
						<input class="input" type="password" placeholder="Password" name="password" id="inputPassword" autocomplete="current-password" required>
						<a href="{{path('app_forgot_password_request')}}">J'ai oublié mon mot de passe</a>
						<span class="icon is-small is-left">
							<i class="fas fa-lock"></i>
						</span>
					</p>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div>
					<button class="button is-link" type="submit">
						Connexion</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
{#
		        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
		        See https://symfony.com/doc/current/security/remember_me.html
		
		        <div class="checkbox mb-3">
		            <label>
		                <input type="checkbox" name="_remember_me"> Remember me
		            </label>
		        </div>
		    #}
