{% extends 'base.html.twig' %}

{% block title %}Analyse technique -
	{{ parent() }}
{% endblock %}


{% block body %}
	<main>
		<div style="width:85%" class="analyseTechnique">
			<div class="partager">
				{% if app.user and app.user.estactif == true %}
					<button>
						<a style="color:#110D26" href="{{ path('analyse_create')}}">Partager une analyse technique</a>
					</button>
				{% else %}
					<button>
						<a style="color:#110D26" href="{{ path('app_login')}}">Partager une analyse technique</a>
					</button>
				{% endif %}
			</div>
			{% for analyse in analyse %}
				<div style="margin-bottom:3rem;width:100%" class="analyseContainer">
					<div class="personne">
						<div class="avata"></div>
						<div class="identite">
							<p class="pseudo"></p>
							<p id="date">Publié le
								{{analyse.date |date("d/m/Y à H:i","Europe/Paris")}}
							</p>
						</div>
					</div>
					<div class="analyseT">
						<p class="texte_analyse">
							Nom de l'actif :
							{{analyse.actif}}
						</p>
						<p class="texte_analyse">
							Analyse technique :
							<a style="color:beige" href="{{analyse.analyse}}">Voir l'analyse technique
							</a>
						</p>
						<p class="texte_analyse formfield">
							<label>Plan de l'analyse :</label>
							<textarea readonly="readonly" style="width:90%" rows="7" cols="45">
								{{analyse.explication|trim}}
							</textarea>
						</p>
					</div>
					<div class="commenter">
						<button>
							<a style="color:#110D26" href="{{ path('analyse_display', {'analyseId' : analyse.id}) }}" type="button">Commenter</a>
						</button>
					</div>
				</div>
			{% endfor %}
		</div>
	</main>
	{{knp_pagination_render(analyse)}}
{% endblock %}
