{% extends 'base.html.twig' %}

{% block title %}Communauté -
	{{ parent() }}
{% endblock %}


{% block body %}
	<main>
		<div style="width:85%" class="analyseTechnique">
			<div class="partager">
				{% if app.user %}
					<button>
						<a style="color:#110D26" href="{{ path('fondamentale_create')}}">Partager une analyse fondamentale</a>
					</button>
				{% else %}
					<button>
						<a style="color:#110D26" href="{{ path('app_login')}}">Partager une analyse fondamentale</a>
					</button>
				{% endif %}
			</div>
			{% for fondamentale in fondamentale %}
				<div style="margin-bottom:3rem; width:100%" class="analyseContainer">
					<div class="personne">
						<div class="avata"></div>
						<div class="identite">
							<p class="">Pseudo</p>
							<p id="">Publié le
								{{fondamentale.createat |date("d/m/Y à H:i")}}
							</p>
						</div>
					</div>
					<div class="analyseT">
						<p class="texte_analyse">
							Nom de l'actif :
							{{fondamentale.actifName}}
						</p>
						<p class="analyseT formfield">
							<label >Plan de l'analyse :</label>
							<textarea  rows="5" cols="50">
								{{fondamentale.ExpliquationFond}}
							</textarea>
						</p>
					</div>
					<div class="commenter">
						<button>
							<a style="color:#110D26" href="{{ path('analyse_fondamentale_display', {'fondamentaleId' : fondamentale.id}) }}" type="button">Commenter</a>
						</button>
					</div>
				</div>
			{% endfor %}
		</div>
	</main>
	{{knp_pagination_render(fondamentale)}}
{% endblock %}
