{% extends 'base.html.twig' %}

{% block title %}Analyse fondamentale -
	{{ parent() }}
{% endblock %}


{% block body %}
	<main>
		<div style="width:85%" class="analyseTechnique">
			<div class="partager">
				{% if app.user and app.user.estactif == true %}
					<button>
						<a style="color:#110D26" href="{{ path('fondamentale_create')}}">Partager une analyse fondamentale</a>
					</button>
				{% else %}
					<button>
						<a style="color:#110D26" href="{{ path('app_login')}}">Partager une analyse fondamentale</a>
					</button>
				{% endif %}
			</div>
			{% for fondamentale in fondamentale %}
				<div style="margin-bottom:3rem; width:100%" class="analyseContainer">
					<div class="personne">
						<div class="avata"></div>
						<div class="identite">
							<p class=""></p>
							<p id="">Publié le
								{{fondamentale.createat|date("d/m/Y à H:i", "Europe/Paris")}}
							</p>
						</div>
					</div>
					<div class="analyseT">
						<p class="texte_analyse">
							Nom de l'actif :
							{{fondamentale.actifName}}
						</p>
						<p class="analyseT formfield">
							<label>Plan de l'analyse :</label>
							<textarea readonly="readonly" style="width:90%;padding:5px;border:3px solid #0d1230;border-radius:8px" rows="7" cols="45">{{fondamentale.ExpliquationFond}}</textarea>
						</p>
					</div>
					<div class="commenter">
						<button>
							<a style="color:#110D26" href="{{ path('analyse_fondamentale_display', {'fondamentaleId' : fondamentale.id}) }}" type="button">Commenter</a>
						</button>
						<!--
																																																												<button>
																																																													<a style="color:#110D26" href="{{ path('analyse_update', {'fondamentaleId' : fondamentale.id}) }}" type="button">Modifier</a>
																																																												</button>
																																																												-->
					</div>
				</div>
			{% endfor %}
		</div>
	</main>
	{{knp_pagination_render(fondamentale)}}
{% endblock %}
