{% extends 'base.html.twig' %}

{% block title %}Accueuil -  {{ parent() }}
{% endblock %}

{% block body %}
	
		<main>
			<div class="main_container">
				<div class="principale">
					<div class="image_blockchain">
                        <img src="{{ asset('asset/img/crypto/blo.jpg') }}" alt="bitcoin"/>
					</div>
					<div class="titre">
						<h1>La Crypto-monnaie, les NFT et le Métaverse pour les débutants</h1>
						<ul>
							<li><a href="">Apprendre les bases de la crypto-monnaie</a></li>
							<li><a href="">Partager des analyses techniques</a></li>
							<li><a href="">Partager des analyses fondamentales</a></li>
						</ul>
					</div>
				</div>
				<div class="cryptommonnaie">
					<div class="image_bitcoin">
                        <img src="{{ asset('asset/img/crypto/bitcoin.jpg') }}" alt="bitcoin"/>
					</div>
					<div class="citation">
						<blockquote class="blockquote--bordered blockquote--quote">
							<p class="blockquote__text">
								Je vois Bitcoin devenir finalement une monnaie de réserve de la banque centrale. Il peut jouer le même rôle que l’or
							</p>
							<p class="blockquote__text--credit">
								- Hal Finney
							</p>
						</blockquote>
					</div>
				</div>
				<div class="meme_coin">
					<div class="card">
						<div class="image_shiba">
                            <img src="{{ asset('asset/img/crypto/shiba.png') }}" alt="shiba inu"/>
						</div>
						<div class="texte_shiba">
							<h4>
								<b>Shiba Inu coin</b>
							</h4>
							<p>Shiba Inu vise à être l'homologue basé sur Ethereum de l'algorithme de minage basé sur Srypt de Dogecoin. Shiba Inu et le jeton SHIB font partie d'un essaim de crypto-monnaies sur le thème des chiens, notamment Baby Dogecoin
								                                ( BabyDoge ), Dogecoin ( DOGE ), JINDO INU ( JIND ), Alaska Inu ( LAS ) et Alaskan Malamute Token ( LASM ). Ces jetons de moindre valeur ont attiré des investisseurs qui ont raté la pompe Dogecoin de 0,0002 à près de 0,75
								                                USD.
							</p>
						</div>
					</div>
					<div class="radius">
						<div class="image_doge">
                            <img src="{{ asset('asset/img/crypto/doge.png') }}" alt="doge coin"/>
						</div>
						<div class="texte_doge">
							<p>Dogecoin diffère du protocole de preuve de travail de Bitcoin de plusieurs manières, dont l'une consiste à utiliser la technologie Scrypt. L'altcoin a également un temps de blocage de 1 minute, et l'offre totale n'est pas plafonnée,
								                                ce qui signifie qu'il n'y a pas de limite au nombre de Dogecoin pouvant être extraits. Vous pouvez miner Dogecoin soit en solo, soit en rejoignant un pool de minage. Un mineur Doge peut exploiter la monnaie numérique sur
								                                Windows, Mac ou Linux, et avec un GPU. Depuis 2014, vous pouvez également extraire Litecoin dans le même processus d'extraction de Dogecoin, car les processus ont été fusionnés.
							</p>
						</div>
					</div>
				</div>
				<div class="meta">
					<div class="image_meta">
                        <img src="{{ asset('asset/img/crypto/meta.png') }}" alt="meta facebook"/>
					</div>
					<div class="texte_meta">
						<p>
							La future version d'Internet où des espaces virtuels, persistants et partagés sont accessibles via interaction 3D.
						</p>
					</div>
				</div>
			</div>
		</main>
		<footer></footer>
	</div>

{% endblock %}
