{% extends 'base.html.twig' %}
{% block title %}Admin Commentaire -
	{{ parent() }}
{% endblock %}
{% block body %}
	<div style="border-radius: 17px;padding: 16px;background-color:#0C091C;margin: 1rem; margin-top:100px;color:white">
		<h2 >Liste des commentaire :</h2>
		{% for commentaireFonda in commentaireFonda %}
			<p style="font-size:large;padding:8px 0 3px 0;">Publié par
				{{commentaireFonda.nickname}}
				le
				{{commentaireFonda.date|date("d/m/Y à H:i","Europe/Paris")}}
			</p>
			<div style="font-size:large; border-radius:12px; padding:16px; background-color:#110D26; margin: 0.5rem 0; width:fit-content">{{commentaireFonda.ContenuFonda}}</div>
			<div style="padding: 18px 0 10px 0">
				<a style="text-decoration:none;color:red;border-radius: 17px; padding: 8px 20px;border: 2px solid red;" href="{{ path('commentaire_fonda_delete', {'commentaireFondaId' : commentaireFonda.id}) }}" type="button">Supprimer le commentaire</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
