{% extends 'base.html.twig' %}

{% block title %}Admin Backoffice -
	{{ parent() }}
{% endblock %}

{% block body %}
	<div style="margin-top:100px">
		<table class="table is-striped">
				<th>Id</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Pseudo</th>
				<th>E-mail</th>
				<th>Vérification du compte</th>
			</tr>
			{% for user in user %}
				<tr>
					<td>{{user.id}}</td>
					<td>{{user.nom}}</td>
					<td>{{user.prenom}}</td>
					<td>{{user.pseudo}}</td>
					<td>{{user.email}}</td>
					<td>{{user.estActif}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
