{% extends 'base.html.twig' %}

{% block title %}Admin Controller
{% endblock %}

{% block body %}
	<main>
		<div class="communaute_container">
			{% for analyse in analyse %}
				<div class="analyse_container" style="border-radius: 17px;
						            padding: 16px;
						            background-color: rgb(23,23,23);
						            margin: 1rem;">
					<div class="analyse">
						<div>
							<p style="padding: 10px 0;font-size:larger">
								Nom de l'actif :
								{{analyse.actif}}
							</p>
							<p style="padding: 10px 0;font-size:larger">
								Lien vers tradingview :
								<a style="color:beige" href="{{analyse.analyse}}">Analyse technique
								</a>
							</p>
							<p style="padding: 10px 0;font-size:larger">
								Plan :
								{{analyse.explication}}
							</p>
						</div>
					</div>
					<div>
						<p style="padding: 10px 0; font-size:larger">Publié le
							{{analyse.date |date("d/m/Y à H:i")}}</p>
					</div>
					<div style="padding: 18px 0 10px 0">
						<a style="text-decoration:none;color:red;border-radius: 17px; padding: 8px 20px;border: 2px solid red;" href="{{ path('analyse_delete', {'analyseId' : analyse.id}) }}" type="button">Supprier l'analyse</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</main>
{% endblock %}
