{% extends 'base.html.twig' %}

{% block title %}Admin Controller
{% endblock %}

{% block body %}
	 <main>
		<div class="analyse_container">
			<div class="partager">
				{% if app.user %}
					<button>
						<a href="{{ path('analyse_create')}}">Partager une analyse technique</a>
					</button>
				{% else %}
					<p>Connectez vous pour partager une analyse technique</p>
				{% endif %}
				<button>Partager une analyse fondamentale</button>
			</div>
			<div class="communaute_container">
				{% for analyse in analyse %}
					<div class="persona">
						<div class="avatar"></div>
						<div class="identite">
							<p class="pseudo">Pseudo</p>
							<p id="date">Publié le
								{{analyse.date |date("d/m/Y à H:i")}}</p>
						</div>
					</div>
					<div class="analyse">
						<p class="texte_analyse">
							Nom de l'actif :
							{{analyse.actif}}
						</p>
						<p class="texte_analyse">
							Analyse technique :
							<a style="color:beige" href="{{analyse.analyse}}">Voir l'analyse technique
							</a>
						</p>
						<p class="texte_analyse">
							Plan de l'analyse :
							{{analyse.explication}}
						</p>
					</div>
					<div class="commentaire">
						<button>
							<a  href="{{ path('analyse_delete', {'analyseId' : analyse.id}) }}" type="button">
							</a>Commenter
							</button>
					</div>
					{% endfor %}
				</div>
			</div>
		</main>
{% endblock %}
