{% extends 'base.html.twig' %}

{% block title %}Admin Controller
{% endblock %}

{% block body %}
	<main>
		<div class="analyse_container">
			{% for analyse in analyse %}
				<div style="margin-bottom:3rem" class="communaute_container">
					<div class="persona">
						<div class="avatar"></div>
						<div class="identite">
							<p class="pseudo">Pseudo</p>
							<p id="date">Publié le
								{{analyse.date |date("d/m/Y à H:i")}}</p>
						</div>
					</div>
					<div class="analyse">
						<p class="texte_analyse">
							Nom de l'actif :
							{{analyse.actif}}
						</p>
						<p class="texte_analyse">
							Analyse technique :
							<a style="color:beige" href="{{analyse.analyse}}">Voir l'analyse technique
							</a>
						</p>
						<p class="texte_analyse">
							Plan de l'analyse :
							{{analyse.explication}}
						</p>
					</div>
					<div class="commentaire">
						<button>
							<a style="color:#110D26" href="{{ path('analyse_delete', {'analyseId' : analyse.id}) }}" type="button">
							Supprimer</a>
						</button>
					</div>
				</div>
			{% endfor %}
		</div>
	</main>
{% endblock %}
