<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Apcrypto
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<link href="https://fonts.googleapis.com/css2?family=Signika:wght@500&family=Ubuntu&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
			<link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
			<link rel="stylesheet" href="{{ asset('asset/css/crypto/crypto.css') }}">
			<link rel="stylesheet" href="{{ asset('asset/css/nft/nft.css') }}">
			<link rel="stylesheet" href="{{ asset('asset/css/metaverse/metaverse.css') }}">
			<link rel="stylesheet" href="{{ asset('asset/css/communaute/communaute.css') }}">
			<link rel="stylesheet" href="{{ asset('asset/css/connexion/style.css') }}">
			<link rel="stylesheet" href="{{ asset('asset/css/inscription/inscription.css') }}" >
			
		{% endblock %}


	</head>
	<body>

    {% include 'layout/header.html.twig' %}
		{% block body %}{% endblock %}

		{% block javascripts %}
			<script src="{{ asset('asset/js/app.js') }}"/>
			<script src="{{ asset('asset/js/communaute.js') }}"/>
		{% endblock %}
	</body>
</html>
