<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="La communauté crypto qui vous permet de partager des analyses techniques, des pépites crypto mais aussi des projets NFT" />
		<title>
			{% block title %}
				Apcrypto
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
		 	<link rel="icon" href="{{ asset('apcrypto/img/onglet.png')}} ">
			<link href="https://fonts.googleapis.com/css2?family=Signika:wght@500&family=Ubuntu&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
			<link rel="stylesheet" href="{{ asset('apcrypto/css/style.css') }}">
			<link rel="stylesheet" href="{{ asset('apcrypto/css/crypto/crypto.css') }}">
			<link rel="stylesheet" href="{{ asset('apcrypto/css/nft/nft.css') }}">
			<link rel="stylesheet" href="{{ asset('apcrypto/css/metaverse/metaverse.css') }}">
			<link rel="stylesheet" href="{{ asset('apcrypto/css/communaute/communaute.css')}} ">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
			<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
		{% endblock %}
	</head>
	<body>
    {% include 'layout/header.html.twig' %}
		{% block body %}{% endblock %}
	{% include 'layout/footer.html.twig' %}
		{% block javascripts %}
			<script src=" {{ asset('apcrypto/js/script.js') }} "/>
			<script src=" {{ asset('apcrypto/js/nft.js') }}" />
		{% endblock %}
	</body>
</html>
