<div class="app-container">
	<header>
		<div class="header_container">
			<div class="logo">
				<img src="{{ asset('asset/image/logo.png') }}"   alt="logo">
				
			</div>
			<button class="hamburger">
				<div class="container-lignes">
					<div class="ligne"></div>
					<div class="ligne"></div>
					<div class="ligne"></div>
				</div>
			</button>
			<ul class="menu">
				<li class="lien">
					<a id="crypto" href="{{ path('app_crypto')}}">Cryptomonnaie
						<i class="fa-solid fa-angle-down" id="bas"></i>
					</a>
					<ul id="ul_crypto" class="sous-menu">
						<li>
							<a href="">BNB Chain</a>
						</li>
						<li>
							<a href="">DeFi</a>
						</li>
						<li>
							<a href="">Les Mèmes coin</a>
						</li>
						<li>
							<a href="">Le minage</a>
						</li>
					</ul>
				</li>
				<li>
					<a id="nft" href="{{ path('app_nft')}}">NFT
						<i class="fa-solid fa-angle-down" id="bas"></i>
					</a>
					<ul id="ul_nft" class="sous-menu">
						<li>
							<a href="">Les top collections</a>
						</li>
						<li>
							<a href="">L'histoire des NFT</a>
						</li>
					</ul>
				</li>
				<li>
					<a id="metavers" href="{{ path('app_metavers')}}">Métavers
						<i class="fa-solid fa-angle-down"></i>
					</a>
					<ul id="ul_metavers" class="sous-menu">
						<li>
							<a href="">Les origines du Métaverse</a>
						</li>
						<li>
							<a href="">L'univers des Métaverse</a>
						</li>
						<li>
							<a href="">L'entrée en jeu de Meta</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="{{ path('app_communaute')}}">Communauté
						<i class="fa-solid fa-angle-down"></i>
					</a>
					<ul class="sous-menu">
						<li>
							<a href="{{ path('app_communaute')}}">Analyse technique</a>
						</li>
						<li>
							<a href="">Analyse fondamentale</a>
						</li>
					</ul>
				</li>
				<div class="acces" id="acces">
					{% if app.user %}
						<button class="btn_connexion">
							<a style="text-decoration:none;color: white; opacity:0.7" href="{{path('app_logout')}}">Déconnexion</a>
						</button>

					{% else %}
						<button class="btn_connexion">
							<a style="text-decoration:none;color: white; opacity:0.7" href="{{path('app_login')}}">Connexion</a>
						</button>
						<button class="btn_inscription">
							<a style="text-decoration:none;color: rgb(32,32,32);" href="{{path('app_register')}}">Inscription</a>
						</button>
					{% endif %}
				</ul>
			</div>
		</header>
